<div>
	<iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/<%= id %>/content?start_page=1&amp;view_mode=scroll&amp;access_key=key-8tvxstotq2hb7yc3672&amp;show_recommendations=true" data-auto-height="false" data-aspect-ratio="1.33234859675037" scrolling="no" id="doc_33290" width="<%= width %>" height="<%= height %>" frameborder="0"></iframe>
</div>
